<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Email Spam Classifier</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <div class="container mt-5">
    <h2 class="text-center mb-4">Spam Email Classifier</h2>

    <form method="POST" action="/predict-form">
      <div class="mb-3">
        <label for="emailText" class="form-label">Enter your email content</label>
        <textarea class="form-control" id="emailText" name="text" rows="6" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Classify</button>
    </form>

    {% if prediction %}
      <div id="result" class="alert alert-info mt-4" role="alert">
        Résultat de la classification : <strong>{{ prediction }}</strong>
      </div>
    {% endif %}
  </div>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted mt-5 py-4 border-top">
    <div class="container text-center">
      <p class="mb-0">© 2025 Spam Email Classifier. Tous droits réservés.</p>
      <small>Développé par Soufiane Aalla • Projet MLOps • Master D3SI</small>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
